---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ben's Portfolio Website</title>	
	</head>
	<body>
		<header>
			<button class="nav-toggle" aria-label="toggle navigation">
				<span class ="hamburger"></span>
			</button>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav_item"><a href="#" class="nav_link">Home</a></li>
					<li class="nav_item"><a href="#" class="nav_link">Home</a></li>
					<li class="nav_item"><a href="#" class="nav_link">Home</a></li>
					<li class="nav_item"><a href="#" class="nav_link">Home</a></li>
				</ul>
			</nav>
		</header>

	</body>
</html>
